<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://wspolnakasa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wspolnakasa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WspolnaKasa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WspolnaKasa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vmnmp4a422.database.windows.net,1433;Initial Catalog=WspolnaKasa_db;User ID=krzysiek.kogut@vmnmp4a422;Password=CHF5,20pln" Name="Data Source=tcp:vmnmp4a422.database.windows.net,1433;Initial Catalog=WspolnaKasa_db;User Id=krzysiek.kogut@vmnmp4a422;Password=CHF5,20pln" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DataAccessLayer.ApplicationDbContext, DataAccessLayer" MigrationConfiguration="DataAccessLayer.Migrations.Configuration, DataAccessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vmnmp4a422.database.windows.net,1433;Initial Catalog=WspolnaKasa_db;User Id=krzysiek.kogut@vmnmp4a422;Password=CHF5,20pln</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>