@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = WspolnaKasa.App_GlobalResources.Translations.Shared_Lockout_Title;
    ViewBag.Text = WspolnaKasa.App_GlobalResources.Translations.Shared_Lockout_Text;
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title.</h1>
    <h2 class="text-danger">@ViewBag.Text</h2>
</hgroup>
