@{
    ViewBag.Title = WspolnaKasa.App_GlobalResources.Translations.Account_ExternalLoginFailure_Title;
    ViewBag.Text = WspolnaKasa.App_GlobalResources.Translations.Account_ExternalLoginFailure_Text;    
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@ViewBag.Text</h3>
</hgroup>
