@{
    ViewBag.Title = WspolnaKasa.App_GlobalResources.Translations.Account_ForgotPasswordConfirmation_Title;
    ViewBag.Text = WspolnaKasa.App_GlobalResources.Translations.Account_ForgotPasswordConfirmation_Text;    
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @ViewBag.Text
    </p>
</div>
	
