@{
    ViewBag.Title = WspolnaKasa.App_GlobalResources.Translations.Account_ResetPasswordConfirmation_Title;
    ViewBag.Text = WspolnaKasa.App_GlobalResources.Translations.Account_ResetPasswordConfirmation_Text;
    ViewBag.LinkText = WspolnaKasa.App_GlobalResources.Translations.Account_ResetPasswordConfirmation_LinkText; 
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @ViewBag.Text <a id="loginLink" href="@Url.Action("Login", "Account", routeValues: null)">@ViewBag.LinkText</a>.
    </p>
</div>

